html {
  box-sizing: border-box;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    border-left: 1px solid var(--color-line-gray);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9fa0a8;
    border-radius: 8px;
  }
}

a {
  color: inherit;
  pointer-events: auto;
  text-decoration: none;
  display: inline-block;
}

button {
  background: none;
  border: none;
  border-radius: none;
  color: inherit;
  font: inherit;
  pointer-events: auto;
}

input,
textarea {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  pointer-events: auto;
}

img,
svg {
  vertical-align: center;
}

img {
  user-select: none;
  pointer-events: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --padding-inline: 40px;
  --color-theme-point: #3d6aff;
  --color-title: #28293d;
  --color-text: #555770;
  --color-text-sub: #8f90a6;

  --color-line-gray: rgba(0, 0, 0, 0.1);

  --font-size-name: 30px;
  --font-size-head: 20px;
  --font-size-title: 18px;
  --font-size-subtitle: 16px;
  --font-size-text: 15px;
  --font-size-subtext: 14px;
  --font-size-s: 13px;
}
